{% extends 'psycle.layout.twig' %}

{% block content %}
<div class="posts">


        <article>
        <div class="post">
            <h2>{{ blog.ts.notfound_title|default('404 not found') }}</h2>
            <div class="content">
                {{ blog.ts.notfound_message|default('Sorry, this page was not found') }}
                <br>
                <a href="/">Return home</a>
            </div>  
        </div>
        

    </article>
</div>
{% endblock %}