{% extends 'psycle.layout.twig' %}

{% block content %}
<div class="posts">


        <article>
        <div class="post">
            <h2>About</h2>
            <div class="content">
                {{ blog.about }}
            </div>  
        </div>
        

    </article>
</div>
{% endblock %}