<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{ head }}
    <link rel="stylesheet" href="{{ themepath }}css/style.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="xp.css" />
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <h1><a href="/">{{ blog.name }}</a></h1>
    <h2><span>{{ blog.description}}</span></h2>
</header>
  
<div role="main">

    {% block content %}{% endblock %}
    
</div>
<footer>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/feed">feed</a></li>
        </ul>
    </nav>
</footer>

</body>
</html>
